/* Stylesheet für Lückentextübungen */

@import url(lueckentext-puzzle.css);

.lueckentext-quiz {
	display: block;
	float: left;
	margin: 10px 0px;
	padding: 0px;
	width: 100%;
	border: 1px solid #d0d0d0;
	background: none;
	clear: both;
}

.lueckentext-quiz h2 {
	margin: 0px;
	padding: 15px 20px;
	clear: both;
}

.lueckentext-quiz p {
	margin: 0px;
	padding: 10px;
	line-height: 2.5em;
	clear: both;
}

.lueckentext-quiz .daten-pool {
	display: block;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 5px 0px;
	line-height: normal;
	background: #d0d0ff;
	border: 1px solid #a0a0ff;
	border-left: none;
	border-right: none;
}

.lueckentext-quiz .luecke {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	background: #d0ffd0;
	border: 1px solid #80ff80;
}

.lueckentext-quiz .luecke img,
.lueckentext-quiz .luecke_i img {
	margin: 0px;
	vertical-align: middle;
}

.lueckentext-quiz .luecke .anvisiert {
	background: #ffd0d0;
	border: 1px solid #ff0000;
}

.lueckentext-quiz .luecke_i input {
	margin: 0px 0 0px 2px;
	padding: 0px;
	font-size: 95%;
	text-align: center;
	z-index: 100;
}

.lueckentext-quiz .feld {
	display: block;
	float: left;
	margin: 0px 10px;
	padding: 0.2em 0.7em;
	background: #d0ffd0;
	border: 1px solid #80ff80;
	text-align: center;
	line-height: normal;
}

.lueckentext-quiz .luecke .feld {
	display: inline;
	float: none;
	margin: 0px;
	padding: 0px 5px;
}

.lueckentext-quiz .auswertungs-button {
	margin: 5px;
	padding: 0.2em 0.7em;
	background: #ffe0e0;
	border: 1px solid #ff8080;
	text-align: center;
}

.lueckentext-quiz .auswertungs-button a {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
	background: none;
}

.lueckentext-quiz .auswertungs-button a:hover {
	color: #ff0000;
	text-decoration: none;
	font-weight: bold;
	background: none;
}
