/* Stylesheet für Schüttelrätsel */

.schuettel-quiz {
	clear: both;
	float: none;
	display: block;
	page-break-before: always;
	page-break-inside: avoid;
}

.schuettel-quiz h2 {
	margin: 0px;
	padding: 15px 20px;
	clear: both;
}

.schuettel-quiz p {
	margin: 0px;
	padding: 10px;
	line-height: 200%;
	clear: both;
}

.schuettel-quiz .luecke {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	background: #f0f0f0;
	border: 1px solid #c0c0c0;
	white-space: nowrap;
}

.schuettel-quiz .luecke input {
	margin: 0px;
	padding: 0px;
	width: 8em;
	visibility: hidden;
}
