/* Zusatz-Stylesheet für Bilderpuzzle, die als "Lückentext" realisiert werden */

.lueckentext-quiz table.puzzle {
	border: 1px solid black;
	padding: 0;
	margin-bottom: 20px;
	border-collapse: collapse;
}

.lueckentext-quiz table.puzzle * {
	width: auto;
	height: auto;
	border: none;
	margin: 0;
	padding: 0;
}

.lueckentext-quiz table.puzzle .luecke {
	display: block;
	width: 100px;
	height: 100px;
	background: #f0f0f0;
	border: none;
	margin: 0;
	padding: 0;
}

.lueckentext-quiz table.puzzle .luecke * {
	border: none;
	margin: 0;
	padding: 0;
}

.lueckentext-quiz table.puzzle .anvisiert {
	border: none !important;
}

