/* Stylesheet für Zuordnungsübungen */

.zuordnungs-quiz {
	clear: both;
	display: block;
	page-break-before: always;
	page-break-inside: avoid;
}

.zuordnungs-quiz h2 {
	margin: 0px;
	padding: 15px 20px;
	clear: both;
}

.zuordnungs-quiz p {
	margin: 0px;
	padding: 10px;
	clear: both;
}

.zuordnungs-quiz .daten-pool {
	display: block;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 5px 0px;
	line-height: normal;
	border-top: 1px solid #d0d0d0;
}

.zuordnungs-quiz .feld {
	display: block;
	float: left;
	margin: 5px;
	padding: 0.2em 0.7em;
	background: #d0ffd0;
	border: 1px solid #80ff80;
	text-align: center;
}

.zuordnungs-quiz .feld img {
	vertical-align: bottom;
	padding: 0px;
	margin: 0px -0.7em -0.2em;
}

.zuordnungs-quiz .loesungs-paar {
	display: block;
	float: left;
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px;
	background: #f0f0f0;
	border: 1px solid #c0c0c0;
	border-left: none;
	border-right: none;
}

.zuordnungs-quiz .loesungs-paar .feld {
	background: #d0d0d0;
	border: 1px solid #a0a0a0;
}
