/* Druckstylesheet für Suchselrätsel */

.suchsel-quiz {
	display: block;
	clear: both;
	page-break-before: always;
	page-break-inside: avoid;
}

.suchsel-quiz h2 {
	margin: 0px;
	padding: 15px 20px;
	clear: both;
}

.suchsel-quiz p {
	margin: 0px;
	padding: 10px;
	clear: both;
}

.suchsel-quiz .gitter {
	display: block;
	float: left;
	margin: 0 10px;
	border-collapse: collapse;
}

.suchsel-quiz .gitter td {
	margin: 0;
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	border: 1px solid #000000;
}

.suchsel-quiz .liste {
	float: left;
	margin: 0 20px 0 20px;
	padding: 20px 20px 20px 40px;
}


